<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
</head>
<body>
<div id="return" style="text-align: center; font-size: 30px" th:text="'You will be return to denomination page after ' + ${countDownSeconds} + ' seconds'"></div>

<script th:inline="javascript">
    var countDownSeconds = 10;
    var countDownElement = document.getElementById("return");

    function countDown() {
        countDownElement.innerText = 'You will be return to denomination page after ' + countDownSeconds + ' seconds';
        countDownSeconds--;
        if (countDownSeconds <= 0) {
            window.location.href = 'https://sep490-g27-spring2024-fe.vercel.app/mentee/choosePrice';
        } else {
            setTimeout(countDown, 1000);
        }
    }

    countDown();
</script>
</body>
</html>